# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore

node_modules/
*.md
.git/
.gitignore
# Keep serviceAccountKey.json
!serviceAccountKey.json
